﻿<div class="jumbotron">
    <h1>Hero</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <table class="table-bordered" id="heroTable">

            <tr>
                <td>Delete </td>
                <td>Edit </td>
                <td>Name </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label>Hero Name</label>
        <input type="text" id="HeroName"><br>
        <button id="save">save</button>
    </div>
    <div class="col-md-4">
        <input id="test">
    </div>
</div>
@Scripts.Render("~/bundles/Heroes")