﻿<label>Hero Name</label>
<input type="text" id="HeroName"><br>
<button id="edit">save</button>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/Heroes")
}
